<head>
    <link rel="stylesheet" type="text/css" href="employee.component.css">
</head>
    <form  class="border border-dark p-3 rounded-3 center-form">
    
        <div class="row g-0">
            <div class="col text-center p-2 mb-3 bg-light">
                <span class="fs-3">Add Employee</span>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label for ="EmpName" class="form-label">Employee Name</label>
                <input type="text" class="form-control" id="EmpName"
                formControlName = "EmpName">  
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label for ="ulogin" class="form-label">ulogin</label>
                <input type="text" class="form-control" id="ulogin"
                formControlName = "ulogin">  
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <label for ="usession" class="form-label">usession</label>
                <input type="text" class="form-control" id="usession"
                formControlName = "usession">  
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit"  class="btn btn-primary"> Submit </button>
                </div>
            </div>
        </div>
    
    
    </form>