<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="side-nav-button p-2 me-3 text-light" (click)
    ="SideNavToggled()">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a class="navbar-brand px-4" href="#">Wegin Systems</a>

    <div class="profile-logo dropstart ms-auto">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Anwit
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <i class="fas fa-user "></i>
            <span>
                <a routerLink="/employee">Add New Employee</a>
            </span>
            <!--<i class="fas fa-user"></i><li><a routerLink="/employee" class="dropdown-item">Add New Employee</a></li> -->
            <li><a href="#" class="dropdown-item">Your Profile</a></li> 
            <li><a href="#" class="dropdown-item">Log Out</a></li>
        </ul>
    </div> 
              

</nav>